.sidebar {
  width: 260px;
  height: 100vh;
  overflow-x: hidden;
  background: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.2s ease;
  display: flex;
  flex-direction: column;

  &.collapsed {
    width: 70px;

    span,
    .mat-expansion-panel-content {
      display: none !important;
    }
  }
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
}

.mat-expansion-panel-header {
  padding: 0 16px;
}

.mat-list-item {
  cursor: pointer;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.mat-icon {
  font-size: 20px;
}